<!doctype html>
<html lang="en">
    <head>    

        <title>{{ if .Params.seo.title }}{{ $.Params.seo.title }}{{ else }}{{ print print $.Title " | " $.Site.Data.config.title }}{{ end }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="{{ .Params.seo.description | default "" }}" />
        {{ if .Params.seo.robots }}
        <meta name="robots" content="{{ delimit $.Params.seo.robots "," }}">
        {{ end }}
        {{ range $meta := .Params.seo.extra }}
          {{ $key_name := $meta.keyName | default "name" }}
          {{ if $meta.relativeUrl }}
            {{ if $.Site.Data.config.domain }}
              {{ $domain := trim $.Site.Data.config.domain "/" }}
              {{ $rel_url := $meta.value | relURL }}
              {{ $full_url := print $domain $rel_url }}
              <meta {{ $key_name }}="{{ $meta.name }}" content="{{ $full_url }}">
            {{ end }}
          {{ else }}
            <meta {{ $key_name }}="{{ $meta.name }}" content="{{ $meta.value }}">
          {{ end }}
        {{ end }}
        <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.18/default/snipcart.css" />
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.css" . | resources.ToCSS (dict "outputStyle" "nested" "precision" 10)).Permalink }}">
        {{ if .Site.Data.config.favicon }}
        <link rel="icon" href="{{ $.Site.Data.config.favicon | relURL }}">
        {{ end }}
        
    </head>
    <body class="{{ .Params.layout }}-template palette-{{ .Site.Data.config.palette }}">
        
        <div class="site-wrapper">
                {{ $include_dict := dict "page" . "Site" .Site }}
                {{ partial "header.html" $include_dict }}
        
                {{ block "content" . }}{{ end }}
        
                {{ $include_dict = dict "page" . "Site" .Site }}
                {{ partial "footer.html" $include_dict }}
            </div>
            <div style="display: none" id="template-params" data-api-key="{{ .Site.Data.config.snipcart_api_key }}" data-templates-url="{{ "js/snipcart-templates.vue" | relURL }}"></div>
        <script src="{{ "js/lib/modernizr.js" | relURL }}"></script>
        <script src="{{ "js/main.js" | relURL }}"></script>
        <script src="{{ "js/page_load.js" | relURL }}"></script>
    </body> 
</html>
